/*
---
name: Label
tag:
  - forms
category:
  - "@gridonic/superforms"
  - "@gridonic/superforms/label"
sourcePath: "@gridonic/superforms/src/_form-label.scss"
---

Represents a caption for an item in a user interface.

It can be associated with a control either by placing the control element
*inside* the label element, **or** by using the `for` attribute. Such a control
is called the *labeled control* of the label element.

⚠️ This is the most important element if you want to build *accessible* forms —
when implemented properly, screenreaders will speak a form element’s label
along with any related instructions.

### 👍 Best Practices

- Resist using placeholder text as labels as this causes many usability issues.
- Use succinct, short and descriptive labels (a word or two) so users can quickly scan your form.
- Users complete top aligned labeled forms at a much higher rate than left aligned labels.
- “All Caps” labels are very hard to read.

```html
<div class="form-text">
    <label class="label form-label" for="my-input">
        <span class="label">Label</span>
        <span class="hint">Hint or instruction</span>
    </label>
    <input class="input" type="text" id="my-input" name="my-input">
</div>
```

### See also

- [Floating labels are problematic](https://adamsilver.io/articles/floating-labels-are-problematic/)
- [Placeholders are problematic](https://adamsilver.io/articles/placeholders-are-problematic/)
- [Placeholders in Form Fields Are Harmful](https://www.nngroup.com/articles/form-design-placeholders/)
- [Label Placement in Forms](http://www.uxmatters.com/mt/archives/2006/07/label-placement-in-forms.php)

*/
.form-label {
    color: $forms-label-color;
    display: inline-block;

    > .label {
        display: block;
    }

    > .hint {
        color: $forms-hint-color;
        display: block;
        font-size: smaller;
    }
}
