/*
---
name: Checkbox
tag:
  - forms
category:
  - "@gridonic/superforms"
  - "@gridonic/superforms/checkbox"
sourcePath: "@gridonic/superforms/src/_form-checkbox.scss"
---

> **Checkboxes** are used when there are lists of options and the user may
> **select any number** of choices, including zero, one, or several. In other
> words, each checkbox is independent of all other checkboxes in the list, so
> checking one box doesn’t uncheck the others.
>
> **A stand-alone checkbox** is used for a single option that the user can turn
> on or off.
>
> <cite>**Jakob Nielsen**, [Checkboxes vs. Radio Buttons]</cite>

Checkboxes are rendered by default as square boxes that are checked (ticked)
when activated, like you might see in an official government paper form. They
allow you to select single values for submission in a form (or not).

You must use the `value` attribute to define the value submitted by this item.
Use the `checked` attribute to indicate whether this item is selected.

### 👍 Best Practices

- Placing checkboxes underneath each other allows easy scanning.

```html
<fieldset class="form-fieldset">
    <legend class="legend form-legend">What do you like?</legend>

    <label for="coding" class="form-checkbox">
        <input id="coding" type="checkbox" class="input" name="interest" value="coding">
        <span class="form-label label">Coding</span>
    </label>

    <br>

    <label for="music" class="form-checkbox">
        <input id="music" type="checkbox" class="input" name="interest" value="music" disabled>
        <span class="form-label label">Music</span>
    </label>

    <br>

    <label for="dancing" class="form-checkbox">
        <input id="dancing" type="checkbox" class="input" name="interest" value="dancing">
        <span class="form-label label">Dancing</span>
    </label>

    <br>

    <label for="hiking" class="form-checkbox">
        <input id="hiking" type="checkbox" class="input" name="interest" value="hiking" checked>
        <span class="form-label label">Hiking</span>
    </label>

    <br>

    <label for="superforms" class="form-checkbox">
        <input id="superforms" type="checkbox" class="input" name="interest" value="superforms" required>
        <span class="form-label label">Superforms</span>
    </label>
</fieldset>
```

[Checkboxes vs. Radio Buttons]: https://www.nngroup.com/articles/checkboxes-vs-radio-buttons/

*/
.form-checkbox {
    display: inline-block;
    position: relative;
    user-select: none;

    > .input {
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;

        &:checked + .label::before {
            background-image: inline-svg("#{$forms-assets-path}/tick.svg", (none: #{$forms-color-focus}));
        }
    }

    > .label {
        align-items: center;
        display: flex;

        &::before {
            @include state-default;

            background-position: center;
            background-repeat: no-repeat;
            background-size: 75%;
            content: "";
            display: block;
            height: 1.5em;
            margin-right: 0.625em;
            min-width: 1.5em;
            width: 1.5em;
        }
    }

    > .input:hover +,
    &.-hover > {
        .label::before {
            @include state-hover;
        }
    }

    > .input:disabled +,
    &.-disabled > {
        .label::before {
            @include state-disabled;
        }
    }

    &.-error > {
        .label::before {
            @include state-error;
        }
    }

    > .input:focus +,
    &.-focus > {
        .label::before {
            @include state-focus;
        }
    }
}
