/*
---
name: Label
tag:
  - forms
category:
  - "@gridonic/forms"
  - "@gridonic/forms/label"
sourcePath: "@gridonic/forms/src/_form-label.scss"
---

Represents a caption for an item in a user interface.

It can be associated with a control either by placing the control element
*inside* the label element, **or** by using the `for` attribute. Such a control
is called the *labeled control* of the label element.

See [checkbox](../checkbox/index.html) for a more real world example.

```html
<span class="form-label">Label</span>
```

*/
.form-label {
    display: inline-block;

    &[for] {
        cursor: pointer;
    }
}
