/*
---
name: Select
tag:
  - forms
category:
  - "@gridonic/forms"
  - "@gridonic/forms/select"
sourcePath: "@gridonic/forms/src/_form-select.scss"
---

Represents a control that provides a menu of options.

```html
<select class="form-select">
    <option value="volvo">Volvo</option>
    <option value="saab" selected="selected">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
</select>
```

*/
.form-select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;

    background-color: $forms-color-background;
    background-image: svg-uri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 12"><path fill="none" stroke="#{$forms-color-border}" stroke-width="1.5" d="M1 1l10 10M21 1L11 11" stroke-linecap="round"/></svg>');
    background-position: center right 0.5em;
    background-repeat: no-repeat;
    background-size: 1em;
    border-radius: $forms-border-radius;
    border: 1px solid $forms-color-border;
    color: $forms-text-color;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: 0;
    padding-right: 1em;
    padding: $forms-text-padding;
    width: 100%;

    &:not(:disabled) {
        &:focus {
            border-color: $forms-color-focus;
        }

        &:active {
            background-image: svg-uri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 12"><path fill="none" stroke="#{$forms-color-border}" stroke-width="1.5" d="M21 11L11 1M1 11L11 1" stroke-linecap="round"/></svg>');
        }
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    &::-ms-expand {
        display: none;
    }
}
