/*
---
name: Select
tag:
  - forms
category:
  - "@gridonic/forms"
  - "@gridonic/forms/select"
sourcePath: "@gridonic/forms/src/_form-select.scss"
---

Represents a control that provides a menu of options.

```html
<select class="form-select">
    <option>Audi</option>
    <option>Bentley</option>
    <option>BMW</option>
    <option>Cadillac</option>
    <option>Chevrolet</option>
    <option>Dodge</option>
    <option>Ferrari</option>
    <option>Ford</option>
    <option>Dodge</option>
    <option>Mercedes-Benz</option>
    <option>Saab</option>
    <option>Volvo</option>
</select>

<br><br>

<select class="form-select" multiple>
    <optgroup label="A">
        <option>Alfa Romeo</option>
        <option>Aston Martin</option>
        <option>Audi</option>
        <option>Austin-Healey</option>
    </optgroup>
    <optgroup label="C">
        <option>Cadillac</option>
        <option>Caterham</option>
        <option>Chevrolet</option>
        <option>Chrysler</option>
        <option>Citroen</option>
    </optgroup>
    <optgroup label="C">
        <option>Maserati</option>
        <option>Mazda</option>
        <option>McLaren</option>
        <option>Mercedes-benz</option>
        <option>MG</option>
        <option>Mini</option>
        <option>Mitsubishi</option>
        <option>Morgan</option>
    </optgroup>
</select>
```

*/
.form-select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;

    background-color: $forms-color-background;
    border-radius: $forms-border-radius;
    border: 1px solid $forms-color-border;
    color: $forms-text-color;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    outline: 0;
    padding: $forms-text-padding;
    width: 100%;

    &:not([multiple]) {
        background-image: svg-uri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 12"><path fill="none" stroke="#{$forms-color-border}" stroke-width="1.5" d="M1 1l10 10M21 1L11 11" stroke-linecap="round"/></svg>');
        background-position: center right 0.5em;
        background-repeat: no-repeat;
        background-size: 1em;
        padding-right: 2em;
    }

    &:focus {
        border-color: $forms-color-focus;

        &:-moz-focusring {
            color: transparent;
            text-shadow: 0 0 0 $forms-text-color;
        }
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    &::-ms-expand {
        display: none;
    }

    optgroup {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }
}
