/*
---
name: Select
tag:
  - forms
category:
  - "@gridonic/superforms"
  - "@gridonic/superforms/select"
sourcePath: "@gridonic/superforms/src/_form-select.scss"
---

Represents a control that provides a menu of options.

### 👍 Best Practices

- Only use it if there are over 5 options.
- Incorporate contextual search within the drop-down if there are over 25 options.

```html
<select class="form-select">
    <option>Audi</option>
    <option>Bentley</option>
    <option>BMW</option>
    <option>Cadillac</option>
    <option>Chevrolet</option>
    <option>Dodge</option>
    <option>Ferrari</option>
    <option>Ford</option>
    <option>Dodge</option>
    <option>Mercedes-Benz</option>
    <option>Saab</option>
    <option>Volvo</option>
</select>

<br><br>

<select class="form-select" multiple>
    <optgroup label="A">
        <option>Alfa Romeo</option>
        <option>Aston Martin</option>
        <option>Audi</option>
        <option>Austin-Healey</option>
    </optgroup>
    <optgroup label="C">
        <option>Cadillac</option>
        <option>Caterham</option>
        <option>Chevrolet</option>
        <option>Chrysler</option>
        <option>Citroen</option>
    </optgroup>
    <optgroup label="C">
        <option>Maserati</option>
        <option>Mazda</option>
        <option>McLaren</option>
        <option>Mercedes-benz</option>
        <option>MG</option>
        <option>Mini</option>
        <option>Mitsubishi</option>
        <option>Morgan</option>
    </optgroup>
</select>
```

*/
.form-select {
    @include state-default;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;

    color: $forms-text-color;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    min-width: 100%;
    outline: 0;
    padding: $forms-text-padding;
    width: 100%;

    &:not([multiple]) {
        background-image: inline-svg("#{$forms-assets-path}/chevron-down.svg", (none: #{$forms-color-border}));
        background-position: center right 0.5em;
        background-repeat: no-repeat;
        background-size: 1em;
        padding-right: 2em;
    }

    &:focus {
        &:not([multiple]) {
            background-image: inline-svg("#{$forms-assets-path}/chevron-down.svg", (none: #{$forms-color-focus}));
        }

        &:-moz-focusring {
            color: transparent;
            text-shadow: 0 0 0 $forms-text-color;
        }
    }

    &:hover,
    &.-hover {
        @include state-hover;
    }

    &:disabled,
    &.-disabled {
        @include state-disabled;
    }

    &.-error {
        @include state-error;

        &:not([multiple]) {
            background-image: inline-svg("#{$forms-assets-path}/chevron-down.svg", (none: #{$forms-color-error}));
        }
    }

    &:focus,
    &.-focus {
        @include state-focus;
    }

    &::-ms-expand {
        display: none;
    }

    optgroup {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }
}
