// Generics
$forms-color-default: #000 !default;
$forms-color-error: #e80505 !default;
$forms-color-focus: #0396ff !default;
$forms-color-border: lighten($forms-color-default, 75) !default;
$forms-color-background: #fff !default;
$forms-border-radius: 2px;

// Specifics
$forms-label-margin: 0 0 0.25em !default;
$forms-text-padding: 0.5em !default;
$forms-text-color: $forms-color-default !default;

// Technical
$forms-use-visual-validation: true !default;

/*
---
name: Forms
tag:
  - forms
category:
  - "@gridonic/forms"
sourcePath: "@gridonic/forms/src/forms.scss"
---

The elements documented below represent a collection of interactive controls
for submitting information to a web server.

### Technical customization

`$forms-use-visual-validation` (default: `true`)

By default form elements that *do not* validate their requirements (mandatory
fields, patterns, etc.) are visually highlighted. This is achieved by
pseudo-classes like `:invalid` or `:required`. Those states are matched
*immediately* after the page has been loaded and this might not always be the
desired behaviour.

Disable it if you wish to manually handle visual feedback. See
[data validation](./text/validation) for further details.

### Visual customization

You may use the variables below to adjust the general appearance of all form
components.

```yaml
$forms-color-default: #{$forms-color-default}
$forms-color-error: #{$forms-color-error}
$forms-color-focus: #{$forms-color-focus}
$forms-color-border: #{$forms-color-border}
$forms-color-background: #{$forms-color-background}
$forms-border-radius: #{$forms-border-radius}
$forms-label-margin: #{$forms-label-margin}
$forms-text-padding: #{$forms-text-padding}
$forms-text-color: #{$forms-text-color}
```

### See also

- [How to structure an HTML form](https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms/How_to_structure_an_HTML_form)
- [A List Apart: Sensible Forms: A Form Usability Checklist](http://www.alistapart.com/articles/sensibleforms/)

*/
