// Generics
$forms-color-default: #000 !default;
$forms-color-error: #e80505 !default;
$forms-color-focus: #0396ff !default;
$forms-color-border: rgba($forms-color-default, 0.25) !default;
$forms-color-background: #fff !default;
$forms-border-radius: 2px;

// Specifics
$forms-label-margin: 0 0 0.25em !default;
$forms-text-padding: 0.5em !default;
$forms-text-color: $forms-color-default !default;
